bounding_boxes
columns
CF-012.png
hold
stave_boxes
stave_boxes_lines
stave_boxes_glyphs
originals
test_images
dataset
.DS_Store
dataset copy
position_dataset_all.zip
position_dataset_Ein.zip
position_dataset_CF.zip
nc_classification_dataset
resized_position_dataset_all copy
resized_position_dataset_all
position_dataset
position_dataset_Ein
position_dataset_CF
resized_position_dataset_all.zip
position_dataset.zip
position_test.txt
position_test.zip
position_train.txt
position_train.zip
